body{
    text-align: center;
}

.btn{
    height: 250px;
    width: 250px;
    border-radius: 12%;
    border: 7.5px solid black;
    margin: 1.2rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: rgb(197, 37, 85);
}

.green{
    background-color: greenyellow;
}

.yellow{
    background-color: #f99b45;
}

.purple{
    background-color: #63aac0;
}

.flash{
    background-color: white;
}